<div align="center">
	<div class="page-header">
	  	<h2>Timer</h2>
	</div>
	<h3><span id="last-call" style="color:red;"></span></h3>

	<h3 id="timing-message">You have <span id="timer"></span> seconds remaining.</h3> 
	<br>  
</div>          
<br>