<% round.projects.each do |p| %>
	<%= render :partial => 'projects/stats', :locals => { :project => p }%>
<% end %>

<table class="table table-striped table-bordered">
<thead><tr><td>User</td><td>Payout (for this round)</td></tr></thead>
<% round.users.each do |u| %>
 <tr>
 	<td><%= u.name %></td>
 	<td><%= u.preferences.where(:round_id => round.id).first.round_payout %></td>
 </tr>
<% end %>
</table>