<h2><%= "Part A - Project #{@user.user_type} - Step 1" %></h2>
<br>
<p>Please choose the number of projects you would like to create:</p>

<%= form_tag(round_show_part_a_2_path) do %>

	<label class="radio">
		<input type="radio" name="numberOfProjects" id="numberOfProjects1" value="0" checked>
		No Projects
	</label>
	<label class="radio">
	  <input type="radio" name="numberOfProjects" id="numberOfProjects2" value="1">
		1
	</label>
	<label class="radio">
	  <input type="radio" name="numberOfProjects" id="numberOfProjects3" value="2">
	  2
	</label>
	
	<div class="form-actions">
    	<%= submit_tag :submit, :value => "Next", :class => 'btn btn-large btn-primary pull-right' %>
  	</div>

<% end %>