<h1>Round Summary</h1>
<p>&nbsp;</p>
<div class="row">
  <div class="span2">
    <h3>Project Name</h3>
  </div>
  
  <div class="span4">
    <h3>Funding Status</h3>
  </div>
  
  <div class="span6">
    &nbsp;
  </div>
</div>
<p>&nbsp;</p>

<% @current_round.projects.each do |p| %>
	<%= render :partial => 'projects/stats', :locals => { :project => p }%>
<% end %>

<h2>Round Payout: <%= @preferences.round_payout %> credits</h2>

<p>&nbsp;</p>
<p>&nbsp;</p>
<%= link_to "Ready for Next Round", round_waiting_path(@next_round), :class => 'btn-success btn-large' unless last_round?(@current_round) %>
<%= link_to "Experiment Summary", experiment_summary_waiting_path(current_experiment), :class => 'btn-success btn-large' if last_round?(@current_round)%>


