<%= render :partial => 'shared/waiting', :locals => { :message => "Waiting..." } %>
<h3>Stand by for next round. </h3>

<script type="text/javascript">
    var timeoutHandle = window.setTimeout(function() {
    	window.location.reload()
    }, 2000);
</script>
