<%= render :partial => 'shared/waiting', :locals => { :message => "Waiting..." } %>
<br>
<h3>Please wait whilst Projects are being created.  Part B will load shortly.</h3>

<script type="text/javascript">
	window.setTimeout(function() {
    	window.location.reload()
    }, 2000);
</script>