<script type="text/javascript">
	window.setTimeout(function() {
    	window.location.reload()
    }, 2000);
</script>

<h4>Please wait whilst Projects are being created.  Part B will load shortly.</h4>