<%= render :partial => 'shared/waiting', :locals => {:message => "Waiting..." } %>
<h3>Please stand by while other participants finish the round.</h3>

<script type="text/javascript">
    window.setTimeout(function() {
    	window.location.reload()
    }, 2000);
</script>
