<div id="container">	
	<div class="row">
   	<div class="span9">
			<div class="page-header">
			  	<h2>Part A-1: Create Projects</h2>
			</div>
			<h4>Start Project</h4>
			<br>     
			                         
			<%= nested_form_for @group, :url => create_projects_path, :method => :post do |f| %>  
			                  
				<div class="form-actions">
			    	<%= f.submit "Submit", :id => "submit-button", :class => 'btn btn-large btn-success pull-right' %>
			  	</div>
			<% end %>

		</div>
	</div>
</div> 




<script type='text/javascript'>  
	// function countDown (count) {
 //   	if (count > 0) 
	// 	{
 //    		document.getElementById("timer").innerHTML = count;
 //    		setTimeout (function() { countDown(count - 1); }, 1000);
 //  		}
 //  		else if (count == 0) 
	// 	{
 // 			document.getElementById("submit-button").click(); 
	// 	}
 // 	}
	//countDown(<%#= ROUND_PART_A_COUNTDOWN_SECONDS %>);
</script> 