<h1>Instructions</h1>
<p>&nbsp;</p>

<% if current_experiment.return_credits %>
  <%= render "shared/instructions_return" %>
<% end %>

<% unless current_experiment.return_credits %>
  <%= render "shared/instructions_no_return" %>
<% end %>
<br>
<br>

<% if @current_round.number == 1 %>
	<%= link_to "Start the First Round", new_round_path, :class => 'btn-success btn-large' %>
<% else %>	
	<%= link_to "Back to the Experiment", round_waiting_path(@current_round), :class => 'btn-success btn-large' %>
<% end %>
<p>&nbsp;</p>