<div id="container">	
	<div class="row">
   	<div class="span12">
			<div class="page-header">
			  	<h1>Instructions</h1>
			</div>

			<% if current_user.user_type == "Creator" %>
			  <%= render "shared/creator_instructions" %>
			<% elsif current_user.user_type == "Donor" %>
			  <%= render "shared/donor_instructions" %>
			<% end %>
			<br>
			<br>
            
			<div class="form-actions">

				<% if @current_round.number == 1 %>
					<%= link_to "Start the First Round", round_waiting_path(@current_round), :class => "btn-success btn-large pull-right" %>
				<% else %>	
					<%= link_to "Back to the Experiment", round_waiting_path(@current_round), :class => "btn-success btn-large pull-right" %>
				<% end %>      
		  	</div>
		</div>
 	</div>
</div>