<style>
	body{ padding-top: 20px; }
</style>
      
             
<div class="page-header">
  	<h1>Instructions</h1>
</div>

<% if current_user.user_type == "Creator" %>
  <%= render "shared/creator_instructions" %>
<% elsif current_user.user_type == "Donor" %>
  <%= render "shared/donor_instructions" %>
<% end %>
<br>
  
<div class="form-actions">
	<%= link_to "Close Window", "", :OnClick => "window.close()", :class => "btn-success btn-large pull-right" %>     
</div>