<div class="row">
  <div class="span12">
    <p>&nbsp;</p>

<h2>Crowdfunding Game</h2>
<p>
Crowdfunding websites, such as Kickstarter and Indiegogo, serve as an intermediary between project designers who need fund, and donors who want to see their favorite projects completed.  This study will allow us to study the behavior of these websites? donors.  In the first portion of this study you will play the role of a donor whose objective is to allocate money to his preferred projects.  Instead of donating money, you will be given credits to distribute to these fake projects.  At the end of the experiment, these credits can be exchanged for real money.
</p>
<h3>Objective</h3>
<p>
The objective of this game is to coordinate your contributions with the donations to maximize your credit payouts.  For each project that is fully funded you will receive a payment, so the more projects that receive funding, the more credits you will receive.  To incentivize you to collect as many credits as possible, these credits will be converted into cash at the end of the experiment.
</p>

<h3>Setup</h3>
<p>
In each of the 18 rounds you will be randomly divided into two groups, so you will play with different people each time.  You will each be given 150 credits to contribute to 4 projects. These projects will each need 400 credits to be fully funded, but the researchers will contribute seed money to each project beforehand to make some projects easier to fund. You will receive a preferences list for each round that will show the payments you will receive for the completion of each project.  Each player will have a different preferences list. (better screenshot, where preferences cannot be confused with seed money)
</p>

<h3>Rules</h3>
<ul>
	<li>One minute per round</li>
	<li>You may  NOT communicate with other players in any way</li>
	<li>You will not know how other participants are contributing</li>
	<li>Credits you earn will be set aside to accumulate in your credit bank</li>
	<li>Credits in your bank cannot be used to fund projects in subsequent rounds</li>
</ul>
	
<h3>Credits</h3>
<p>
Each round you will be given 150 credits to contribute to projects.  You will accumulate credits throughout the experiment in your credit bank.  There are 3 ways to earn credits for your credit bank:
<ul>
	<li>You will earn credits for any fully funded projects</li>
	<li>Any credits that you choose not to donate</li>
	<li><b>Any credits you donate to unfunded projects will be returned to you</b></li>
</ul>
</p>
<p>
At the end of the experiment the credits you have earned in your credit bank will be converted into cash at an exchange rate of $1 for every 450 credits.
</p>

  </div>
</div>