<div class="row">
  <div class="span8 offset1">
    <p>&nbsp;</p>
    <h3>GAME PROCEDURE AND RULES</h3>
      <ul>
        <li>Each round you will be randomly placed into a group of 6</li>
        <li>Each round you will have new preferences</li>
        <li>Each round you will have new projects</li>
        <li>Each round you will have 150 credits to contribute</li> 
        <li>You will have 1 minute to complete each round</li>
        <li>Hit submit to finalize your contributions</li>
        <li>On the summary page, hit ready to allow the next round to start</li>
        <li>There are 24 rounds in this experiment</li>
        <li>You may not communicate with other participants</li>
      </ul>
	<h3>CREDITS</h3>
	  <ul>
	    <li>150 credits to contribute per round</li>
	    <li>Credits are used to contribute to projects, or can be kept</li>
	    <li>Earned credits are placed in your credit bank</li>
	    <li>Credits that you contribute to projects will not go toward your credit bank account</li>
	    <li>Credits in the bank cannot be used to fund projects</li>
	    <li>450 credits = $1 cash at the end of the experiment</li>
	  </ul>
	<h3>PROJECTS</h3>
	  <ul>
	    <li>These are fake projects</li>
	    <li>Each needs 400 credits total to be funded</li>
	    <li>The researchers have already contributed credits to some projects</li>
	    <li>If your group of 6 funds a project, you will receive a payment based on your preferences</li>
	  </ul>
  </div>
</div>