<h2>Crowdfunding Experment</h2>
<p>
Crowdfunding websites, such as Kickstarter and Indiegogo, serve as an intermediary between project designers who need funds, and donors who want to see their favorite projects completed.  This study will allow us to study the behavior of these websites? donors.  In the first portion of this study you will play the role of a donor whose objective is to allocate money to his or her preferred projects.  Instead of donating money, you will be given credits to distribute to these fake projects.  At the end of the experiment, these credits can be exchanged for real money.
</p>

<h3>Objective</h3>
<p>
The objective of this game is to make contributions to the projects that maximize your credit payouts.  You will earn a payout for each project that is fully funded (receives 400 credits total).  The more projects that receive funding, the more credits you will receive.  To encourage you to collect as many credits as possible, these credits will be converted into US dollars at the end of the experiment.
</p>

<h3>Setup</h3>
<p>
The experiment will have 18 identical rounds.  In each round you will be randomly divided into two groups, so you will play with different people each round.  You will each be given 150 credits in each round, and will have the opportunity to contribute to 4 projects. These projects will each need 400 credits to be fully funded, but the researchers will contribute seed money to each project beforehand to make some projects easier to fund. 
In each round, you will be told your payouts for each project.  Some projects are worth more to you than other projects.  You will earn the specified payout if and only if the project receives enough donations to fully fund the project. Other players will have different payouts.
</p>

<h3>Rules</h3>
<ul>
	<li>You have one minute per round to make your decision</li>
	<li>You may NOT communicate with other players in any way</li>
	<li>You will not know how other participants are contributing</li>
	<li>Credits you earn in each round will be set aside to accumulate in your credit bank</li>
	<li>Credits in your bank cannot be used to fund projects in subsequent rounds</li>
</ul>

<h3>Credits</h3>
<p>
Each round you will be given 150 credits to contribute to projects.  At the end of each round your earnings will be deposited into your credit bank.  There are 2 ways to earn credits for your credit bank:
</p>
<ul>
	<li>You will earn credits for any fully funded projects according to your payout table</li>
	<li>Any credits that you choose not to donate will be kept and added to your credit bank</li>
</ul>

<p>
Any credits you donate to projects will not be returned to you. At the end of the experiment the credits you have earned in your credit bank will be converted into cash at an exchange rate of $1 for every 450 credits.
</p>