<h2>Crowdfunding Experment</h2>
<p>
Crowdfunding websites, such as Kickstarter and Indiegogo, serve as an intermediary between project designers who need funds, and donors who want to see their favorite projects completed.  This study will help us understand the behavior of these websites’ donors. You will play the role of a donor contributing to projects through a crowdfunding website.   Instead of donating money, you will be given credits to distribute to these fake projects.  At the end of the experiment, these credits can be exchanged for real money. You will receive $1 for every 350 credits you earn in the course of the experiment.
</p>

<h3>Objective</h3>
<p>
Your objective in this game is to earn the most credits that you can.  To encourage you to accumulate credits, credits will be converted into US Dollars at the end of this experiment.  Again, you will get $1 for every 350 credits you earn.  Each round you will be given 150 credits, and you will earn credits for each project that is fully funded.  The more projects that receive funding, the more credits you will receive.  Any credits you don’t donate you will get to keep. Any credits that you contribute to projects will not be returned to you.
</p>

<h3>Setup</h3>
<p>
The experiment will have 18 rounds.  In each round you will be randomly divided into two groups, so you will play with different people each round.  <strong>Each person in your group will contribute to the same 4 projects.</strong>  Each player in the group will be given 150 credits at the start of the round. Each project needs 400 credits from your group to be fully funded.  To help make this task easier, the researchers will contribute seed credits to each group’s projects before the round.
</p>

<h3>Project Payouts</h3>
<p>
<strong>At the end of each round you will receive a payout for each project that your group funds, regardless of whether or not you contributed to the funding of that project.</strong> During each round, you will see a table that specifies what this payout will be for each project.  Some projects will be worth more to you than other projects. <strong>Every person in your group will have different payouts than you have.</strong>  Your payout table will change each round, so pay close attention.  Again, you will receive the payout if and only if your group’s project has at least 400 credits at the end of the round.
</p>

<h3>Rules</h3>
	<ul>
		<li>You have one minute per round to make your decision</li>
		<li>You may NOT communicate with other players in any way</li>
		<li>You will not know how other participants are contributing</li>
		<li>Credits you earn in each round will be set aside to accumulate in your credit bank</li>
		<li>Credits in your bank cannot be used to fund projects in subsequent rounds</li>
	</ul>

<h3>Credits</h3>
<p>
Each round you will be given 150 credits to contribute to projects.  You can donate all 150 of your credits, donate a portion of your credits, or donate none at all.  Any credits you choose not to contribute you will keep, and they will be added to your credit bank. At the end of each round your earnings from your group’s funded projects will be deposited into your credit bank.   There are 2 ways to earn credits for your credit bank:
</p>
<ul>
	<li>You will earn credits for any project your group funds, these credits will be added to your bank</li>
	<li>Any credits that you did not donate will be kept and added to your bank</li>
</ul>

<p>
After the simulation rounds, you will have an opportunity to answer an extra credit question.  At the end of the experiment the credits you have earned in your credit bank will be converted into cash at an exchange rate of $1 for every <%= CREDITS_TO_DOLLAR_RATE %> credits.
</p>

<h3>Round Page</h3>
<p>
This is a screenshot of what you will see in each round:
</p>
<p>&nbsp;</p>
<%= image_tag 'instructions-screenshot.png', :class => 'thumbnail' %>
<p>&nbsp;</p>
  <h1>Important Reminders</h1>
  <ul>
    <li><h4>You will be placed in a random group of 6 each round</h4></li>
    <li><h4>This group of 6 people will all contribute to the same 4 projects</h4></li>
    <li><h4>Each of you will have different payouts for each project</h4></li>
    <li><h4>If you contribute to a project that your group does not fund, you will not get your donation back</h4></li>
    <li><h4>You will get a payout from any project your group funds, even if you didn’t help fund it</h4></li>
  </ul>
