<div class="page-header">
  	<h3>Total Experiment Payouts</h3>
</div>

	<table class="table table-striped table-bordered table-condensed">
		<tbody>
			<tr>
				<td><h4>Total Return (credits)</h4></td>
				<td><%= @total_return %></td>
			</tr>
			<tr>
				<td><h4>Total Return (dollars)</h4></td>
				<td><%= "$#{number_with_precision(@total_return_in_cents.to_f / 100, :precision => 2)}" %></td>
			</tr>
		</tbody>
	</table>

<br>