<div id="container">	
	<div class="row">
   	<div class="span12">

			<img src="assets/BIT_Labs_Header.png"> 
			<div class="hero-unit" align="center">
				<h2>Congratulations, you have completed the Crowdfunding Experiment!</h2>
				<p>Please see the experiment supervisor to collect your rewards.</p>
				<br>
				<p>You are: <strong><%= @user.name %></strong></p>
			</div>
  		</div>
	</div>
</div>