<p>Hey <%= @user.name %>, You are at the FINAL experiment summary page.</p>

<h2>Total Payout: </h2>
<h3><%= @user.payout unless @user.payout.nil?%><%= "0" if @user.payout.nil? %> credits</h3>

<p><%= link_to "Click Here to leave the site and go the Lime survey thing", root_path %>