<table class="table table-striped table-bordered">
<thead>
<tr><td><h4>User</h4></td><td><h4>Password</h4></td></tr>
</thead>
<tbody>
<% @experiment.users.each do |u| %>
	<tr>
	<td><%= u.name %></td>
	<td><%= u.password %></td>
	</tr>
<% end %>
</tbody>
</table>