<div id="container">	
	<div class="row">
   	<div class="span12">

			<img src="assets/BIT_Labs_Header.png"> 
			<div align="center" class="hero-unit">                                 
				<h2>Welcome to the BITLAB Crowdfunding Experiment!</h2>
				<br>
				<p>Click "Start Experiment" when you are ready to begin!</p>
			</div>  

			<div class="form-actions">
        		<%= link_to "Start Experiment", instructions_path, :class => "btn-warning btn-large pull-right" %>
			</div>
  		</div>
	</div>
</div>			